services:
  postgres:
    image: postgres
    restart: always
    container_name: postgres
    environment:
        POSTGRES_PASSWORD: productpw
    ports:
        - 5422:5432 
    volumes:
        -  pgdata:/var/lib/postgresql/data
  mongo:
    image: mongo
    restart: always
    container_name: mongo
    environment:
        MONGO_INITDB_ROOT_USERNAME: root
        MONGO_INITDB_ROOT_PASSWORD: mongopw
    ports:
        - 27070:27017
    volumes:
        - mongodata:/data/db

  adminer:
    image: adminer
    restart: always
    container_name: adminer
    ports:
        - 8090:8080

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
        - 5672:5672
        - 15672:15672
  redis:
    image: redis:latest
    command: ["redis-server", "--appendonly", "yes"]
    container_name: redis
    ports:
        - 6379:6379 
    volumes: 
        - redisdata:/data
  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    container_name: redis-commander
    environment:
        - REDIS_HOSTS=local:redis:6379
        - HTTP_USER=root
        - HTTP_PASSWORD=secret 
    ports:
        - 8081:8081
    depends_on:
        - redis

  # product-svc:
  #   image: fesor24/product-svc:latest
  #   container_name: product-svc
  #   build:
  #       context: .
  #       dockerfile: src/ProductService/Dockerfile
  #   environment:
  #       - ASPNETCORE_ENVIRONMENT=Development
  #       - ASPNETCORE_URLS=http://+:80
  #       - ASPNETCORE_URLS=http://+:8888 
  #       - ConnectionStrings__DefaultConnection=Server=postgres:5432;User Id=postgres;Password=productpw;Database=products
  #       - RabbitMq__Host=rabbitmq
  #       - Kestrel__Endpoints__Grpc__Protocols=Http2
  #       - Kestrel__Endpoints__Grpc__Url=http://+:8888
  #       - Kestrel__Endpoints__WebApi__Protocols=Http1
  #       - Kestrel__Endpoints__WebApi__Url=http://+:80  
  #   ports:
  #       - 7001:80
  #       - 8888:8888 
  #   depends_on:
  #       - postgres
  #       - rabbitmq

  # search-svc:
  #   image: fesor24/search-svc:latest
  #   container_name: search-svc
  #   build:
  #       context: .
  #       dockerfile: src/SearchService/Dockerfile
  #   environment:
  #       - ASPNETCORE_ENVIRONMENT=Development
  #       - ASPNETCORE_URLS=http://+:80
  #       - ConnectionStrings__MongoDbConnection=mongodb://root:mongopw@mongo:27017
  #       - ProductServiceUrl=http://product-svc
  #       - SearchSrvAuthConfiguration__ClientId=search_service
  #       - SearchSrvAuthConfiguration__ClientSecret=search-secret
  #       - SearchSrvAuthConfiguration__GrantTypes=client_credentials
  #       - Scope=productapi.read productapi.write
  #       - IdentityServerUrl=http://identity-svc
  #       - RabbitMq__Host=rabbitmq 
  #   ports:
  #       - 7002:80
  #   depends_on:
  #       - rabbitmq
  #       - mongo
  
  # identity-svc:
  #   image: fesor24/identity-svc:latest
  #   container_name: identity-svc
  #   build: 
  #       context: .
  #       dockerfile: src/IdentityService/Dockerfile
  #   environment:
  #       - ASPNETCORE_ENVIRONMENT=Docker
  #       - ASPNETCORE_URLS=http://+:80
  #       - ConnectionStrings__DefaultConnection=Server=postgres:5432;User Id=postgres;Password=productpw;Database=identity
  #       - WebHost=http://localhost:4200 
  #   ports:
  #       - 5000:80
  #   depends_on:
  #       - postgres

  # gateway-svc:
  #   image: fesor24/gateway-svc:latest
  #   container_name: gateway-svc
  #   build:
  #       context: .
  #       dockerfile: src/GatewayService/Dockerfile
  #   environment:
  #       - ASPNETCORE_ENVIRONMENT=Docker
  #       - ASPNETCORE_URLS=http://+:80  
  #   ports:
  #       - 6001:80 
  # shoppingcart-svc: 
  #     image: fesor24-cartsvc:latest
  #     container_name: cart-svc
  #     build:
  #       context: .
  #       dockerfile: src/ShoppingCartService/Dockerfile
  #     environment:
  #       - ASPNETCORE_ENVIRONMENT=Development
  #       - ASPNETCORE_URLS=http://+:80
  #       - ASPNETCORE_URLS=http://+:7777 
  #       - ConnectionStrings__Redis=redis
  #       - Kestrel__Endpoints__Grpc__Protocols=Http2
  #       - Kestrel__Endpoints__Grpc__Url=http://+:7777
  #       - Kestrel__Endpoints__WebApi__Protocols=Http1
  #       - Kestrel__Endpoints__WebApi__Url=http://+:80 
  #     ports:
  #       - 7003:80
  #       - 7777:7777 
  #     depends_on:
  #       - redis   
  # order-svc:
  #      image: fesor24-ordersvc:latest
  #      container_name: order-svc
  #      build:
  #        context: .
  #        dockerfile: src/OrderService/Dockerfile
  #      environment:
  #         - ASPNETCORE_ENVIRONMENT=Development
  #         - ASPNETCORE_URLS=http://+:80
  #         - ConnectionStrings__DefaultConnection=Server=postgres:5432;User Id=postgres;Password=productpw;Database=orders
  #         - Grpc__Cart=http://shoppingcart-svc:7777
  #         - Grpc__Product=http://product-svc:8888
  #         - RabbitMq__Host=rabbitmq
  #         - IdentityServiceUrl=http://identity-svc
  #      ports:
  #         - 7004:80
  #      depends_on:
  #         - rabbitmq
  #         - postgres  
          
volumes:
    pgdata:
    mongodata:
    redisdata:
